<html>
    <title>
        My Webpage
    </title>
    <head>
        <style>
        #menu {
            background-color: rgb(97, 3, 97);
            width:400px;
            margin:20px;
            border:500px;
            border-color:  rgb(6, 99, 6);
            padding:10px;
        }
        </style>
    </head>
    <body>
        <h3>My Self</h3> 
        <p>heehaaheehaa
            hahahaha
            hehehehe
            haaeehaaee
            
        </p>
        <div id="menu">
            qwertyuiopasdfghjklzxcvbnm1234567890-=[]\;',./'
            qwertyuppljhfds/.,mnbvcxz
        </div>         
    </body>
</html>